@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: black;
  color: white;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  text-shadow: 1px 1px 2px grey;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 2s;
}
